.jumbotron{
    border: 5px solid green;
}

.container {
    border: 5px solid red;
}

.row {
    border: 5px solid black;
}
.col-12{
    border: 5px solid chartreuse;
}
.col-sm-6 {
    border: 5px solid chocolate;
}
.col-6{
    border: 5px solid chocolate;
}
.col-md-6 {
    border: 5px solid pink;
}
.form-check {
    border: 5px solid cornflowerblue;
}
.col-md-5 {
    border: 5px solid darkmagenta;
}
.col-md-12 {
    border: 5px solid coral;
}
.col-md-10 {
    border: 5px solid crimson;
}
.col-sm-12 {
    border: 5px solid darkblue;
}
.col-2 {
    border: 5px solid darkgreen;
}